<!--======================= FOOTER =======================-->
<section id="footer" class="ftr-heading-o ftr-heading-mgn-1">
    <div id="footer-top" class="banner-padding ftr-top-black ftr-text-white">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6 col-lg-3 col-xl-3 footer-widget ftr-contact">
                    <h3 class="footer-heading">CONTÁCTENOS</h3>
                    <ul class="list-unstyled">
                        <li><span><i class="fa fa-map-marker"></i></span>San José, Costa Rica</li>
                        <li><span><i class="fa fa-envelope"></i></span>grupodatatek@gmail.com</li>
                    </ul>
                </div><!-- end columns -->

                <div class="col-12 col-md-6 col-lg-3 col-xl-3 footer-widget ftr-links ftr-pad-left">
                    <h3 class="footer-heading">RECURSOS</h3>
                    <ul class="list-unstyled">
                        <li><a href="/home">Inicio</a></li>
                        <li><a href="/home/vLogin">Iniciar sesión</a></li>
                        <li><a href="/home/vRegistroUsuarios">Registrarse</a></li>
                    </ul>
                </div><!-- end columns -->

                <div class="col-12 col-md-6 col-lg-4 col-xl-4 footer-widget ftr-about">
                    <h3 class="footer-heading">SOBRE NOSOTROS</h3>
                    <p>Somos una plataforma que permite facilitar el proceso de reserva de habitaciones en hoteles, así como permitir a los administradores de hoteles promocionar su empresa.</p>
                </div><!-- end columns -->

            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end footer-top -->

    <div id="footer-bottom" class="ftr-bot-black">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 col-xl-6" id="copyright">
                    <p>© @DateTime.UtcNow.Year <a href="#">AdTrip</a>Derechos reservados.</p>
                </div><!-- end columns -->

                @*<div class="col-12 col-md-6 col-lg-6 col-xl-6" id="terms">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="#">Terms & Condition</a></li>
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>*@
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end footer-bottom -->

</section><!-- end footer -->