
<script src="~/Scripts/Views/vDashboardGerente.js"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Dash<span>board</span></h2>

<div id="dashboard-tabs">
    <div class="tab-content">
        <div id="dsh-dashboard" class="tab-pane in active">
            <div class="dashboard-content">
                <h2 class="dash-content-title">Ganancias</h2>
                <div class="row info-stat">
                    <div style="margin-left:40%" class="col-md-6 col-lg-3">
                        <div class="stat-block">
                            <span><i class="fa fa-money"></i></span>
                            <h3 id="totalGanancias"></h3>
                            <p>Ganancias totales</p>
                        </div><!-- end stat-block -->
                    </div><!-- end columns -->
                </div><!-- end row -->


            </div><!-- end dashboard-content -->
        </div><!-- end dsh-dashboard -->


    </div><!-- end tab-content -->
</div>





<div style="margin: 50px;">

    <h2>Reportes de las ganancias</h2>
    <div>
        <div style="margin-top: 70px; margin-bottom:50px; height: 50vh; width:70vw;">
            @Html.CtrlGraficoBarras(viewName: "vDashboardGerente", id: "chartGananciasXDia", title: "Ganancias por día",
         chartType: "bar", onLoadFunction: "GetReporteGraficoXDia", onInitializeChart: "ChartReporteDia")
        </div>
    </div>

    <div style="margin-top: 70px;" id="listaGananciasXDia" class="d-inline">
        @Html.CtrlTable(viewName: "vDashboardGerente", id: "tblGananciasXDia", title: "Ganancias por día",
    columnsTitle: "Fecha, Dinero recibido", ColumnsDataName: "FechaRealizado,MontoGanancia", onSelectFunction: "", colorHeader:"")
    </div>



    <h2>Reportes de la cantidad de habitaciones que tiene un hotel</h2>
    <div>
        <div style="margin-top: 70px; margin-bottom:420px; height: 30vh; width:60vw;">
            @Html.CtrlGraficoDoughnut(viewName: "vDashboardGerente", id: "chartReporteCantHab", title: "Cantidad de habitaciones por hotel",
         chartType: "doughnut", onLoadFunction: "GetReporteCantHabitacionHotel", onInitializeChart: "ChartReporteCantHab", onChange:"CambiarForma")
        </div>
    </div>


</div>


<div style="margin:500px 0;">
    <h3>Elige un hotel:</h3>
    <div style="margin-top:40px;"   id="ReportesPorHoteles">

    </div>

</div>









