@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="table-responsive">
    <table class="table table-hover">
        <tbody>
            <tr>
                <td class="dash-list-icon booking-list-date"><div class="b-date"><h3>18</h3><p>October</p></div></td>
                <td class="dash-list-text booking-list-detail">
                    <h3>Tom's Restaurant</h3>
                    <ul class="list-unstyled booking-info">
                        <li><span>Booking Date:</span> 26.12.2017 at 03:20 pm</li>
                        <li><span>Booking Details:</span> 3 to 6 People</li>
                        <li><span>Client:</span> Lisa Smith<span class="line">|</span>lisasmith@youremail.com<span class="line">|</span>125 254 2578</li>
                    </ul>
                    <button class="btn btn-orange">Ver detalle de reserva</button>
                </td>
                <td class="dash-list-btn"><button class="btn btn-orange">Cancel</button><button class="btn">Approve</button></td>
            </tr>

            <tr>
                <td class="dash-list-icon booking-list-date"><div class="b-date"><h3>18</h3><p>October</p></div></td>
                <td class="dash-list-text booking-list-detail">
                    <h3>Tom's Restaurant</h3>
                    <ul class="list-unstyled booking-info">
                        <li><span>Booking Date:</span> 26.12.2017 at 03:20 pm</li>
                        <li><span>Booking Details:</span> 3 to 6 People</li>
                        <li><span>Client:</span> Lisa Smith<span class="line">|</span>lisasmith@youremail.com<span class="line">|</span>125 254 2578</li>
                    </ul>
                    <button class="btn btn-orange">Message</button>
                </td>
                <td class="dash-list-btn"><button class="btn btn-orange">Cancel</button><button class="btn">Approve</button></td>
            </tr>

            <tr>
                <td class="dash-list-icon booking-list-date"><div class="b-date"><h3>18</h3><p>October</p></div></td>
                <td class="dash-list-text booking-list-detail">
                    <h3>Tom's Restaurant</h3>
                    <ul class="list-unstyled booking-info">
                        <li><span>Booking Date:</span> 26.12.2017 at 03:20 pm</li>
                        <li><span>Booking Details:</span> 3 to 6 People</li>
                        <li><span>Client:</span> Lisa Smith<span class="line">|</span>lisasmith@youremail.com<span class="line">|</span>125 254 2578</li>
                    </ul>
                    <button class="btn btn-orange">Message</button>
                </td>
                <td class="dash-list-btn"><button class="btn btn-orange">Cancel</button><button class="btn">Approve</button></td>
            </tr>
        </tbody>
    </table>
</div><!-- end table-responsive -->