@using WebApp.Helpers;
<script src="~/Scripts/Views/vRestablecerContrasenna.js"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--===== INNERPAGE-WRAPPER ====-->
<div class="dashboard-heading d-flex justify-content-center">
    <h2>Restablecer <span>Contraseña</span></h2>
</div>

<div class="d-flex justify-content-center">
    <div class="custom-form custom-form-fields text-center col-lg-6">
        <h3>Formulario</h3>
        <p>Para restablecer la contraseña necesitamos verificar los siguientes datos de tu cuenta:</p>
        <form id="frmEdition" method="get" action="">
            @Html.CtrlInput(id: "txtIdentificacion", type: "text", label: "Identificación",
            placeHolder: "Identificación", columnDataName: "Identificacion")

            @Html.CtrlInput(id: "txtCorreo", type: "text", label:"Correo",
            placeHolder: "Correo electrónico", columnDataName: "Correo")

            @Html.CtrlButton(viewName: "vRestablecerContrasenna", id: "btnRestablecerContrasenna", type: "button",
                label: "RESTABLECER", onClickFunction: "ValidarInputs", buttonType: "color")
        </form>
    </div><!-- end custom-form -->
</div><!-- end form-content -->
